NODE_ENV=development
PORT=3003

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/orders_db

RABBITMQ_URL=amqp://rabbit:rabbit@localhost:5672
RABBITMQ_EXCHANGE=domain.events

PRODUCT_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_TIMEOUT_MS=3000

LOG_LEVEL=debug
